{% extends 'base.html.twig' %}


{% block body %}
	<section class="hero">
		<div class='backgroud-hero'>
			<div class="triangle"></div>
			<div class="max-width"></div>
		</div>
	</section>
</section>{% endblock %}
