{% extends 'base.html.twig' %}


{% block body %}
	<section class="hero">
		<div class='backgroud-hero'>
			<div class="demoB right"></div>
			<div class="max-width"></div>
			<div class="texte-hero">
				<h1>DU B’AIN AU SALON</h1>
				<p>Fiez-vous à un artisan expérimenté en rénovation de votre bien du salle de bain jusq’au salon</p>
				<div class="button-hero">
					<a class="btn-contact" href="{{ path('app_contact') }}">conactez moi</a>
				</div>
			</div>
		</div>
	</section>
	<section class="presentation animated-section">
		<div class="triangle-right animation-right"></div>
		<div class="max-width">
			<div class='animation-left'>
				<h2>du b'ain au salon</h2>
				<p>En tant qu'artisan expérimenté, je suis prêt à offrir des solutions novatrices pour votre projet de rénovation, que ce soit en plomberie, en électricité, en plâtrerie, ou dans tout autre domaine de travaux de rénovation. J'interviens dans les alentours de Bourg-en-Bresse (01).
				</p>
			</div>
			<figure class='animation-right'>
				<img src="./img/WEBP/sale_de_bain2.webp" alt="renovation">
			</figure>
		</div>
	</section>
	<section class="section-slider">
		<div class="efect-lenear">
			<h3>APRECIER L’ENSEMBLE DE MES

				<br>
				<span>PRESTATIONS</span>
			</h3>

			<div class="glider-contain">
				<div class="glider">
					{% for image in images %}
						<div class="product-box">
							<div class="p-img-container">
								<div class='p-img'>
									<div>
										<img src="../uploads/attachment/{{ image.name }}" class='p-img-front' alt="{{ image.name }}">
									</div>
								</div>

							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="slider-btns">
				<button aria-label="Previous" class="glider-prev">
					<figure>
						<img src="../img/Arrow.svg" alt="fleche">
					</figure>
				</button>
				<button aria-label="Next" class="glider-next">
					<figure>
						<img src="../img/Arrow.svg" alt="fleche">
					</figure>
				</button>
			</div>

		</div>

	</section>
	<section class="values animated-section">
		<div class="triangle-left animation-left"></div>
		<div class="max-width">
			<h2>Points forts</h2>
			<div class="containt-values">
				<div class="oneValue">
					<div class='oneValueSite firstValueSite'>
						<figure>
							<img src="../img/Guarantee.svg" alt="">
						</figure>
						<h3>Qualité</h3>
						<p>J’attache une attention particulière à la qualité de mes services.</p>
					</div>
					<div class='oneValueSite secondValueSite'></div>
				</div>
				<div class="oneValue">
					<div class='oneValueSite firstValueSite'>
						<figure>
							<img src="../img/Guarantee.svg" alt="">
						</figure>
						<h3>Qualité</h3>
						<p>J’attache une attention particulière à la qualité de mes services.</p>
					</div>
					<div class='oneValueSite secondValueSite'></div>
				</div>
				<div class="oneValue">
					<div class='oneValueSite firstValueSite'>
						<figure>
							<img src="../img/Guarantee.svg" alt="">
						</figure>
						<h3>Qualité</h3>
						<p>J’attache une attention particulière à la qualité de mes services.</p>
					</div>
					<div class='oneValueSite secondValueSite'></div>
				</div>
				<div class="oneValue">
					<div class='oneValueSite firstValueSite'>
						<figure>
							<img src="../img/Guarantee.svg" alt="">
						</figure>
						<h3>Qualité</h3>
						<p>J’attache une attention particulière à la qualité de mes services.</p>
					</div>
					<div class='oneValueSite secondValueSite'></div>
				</div>
			</div>


		</div>

	</section>
	{% block js %}
		<script src="../js/glider.js"></script>
		<script src="../js/main.js"></script>
		<script src="../js/burger.js"></script>
	{% endblock %}


{% endblock %}
