{% extends 'base.html.twig' %}
{% block body %}
	<section class="hero hero-prestation animated-section">
		<div class='backgroud-hero backgroud-hero-renovation'>
			<div class="triangle-right animation-right">
				<div class="texte-hero">
					<h1>DU B’AIN AU SALON</h1>
					<p>VOTRE PARTENAIR PENDANT LES TRAVAUX DE RENOVATION DE VOTRE MAISON</p>
					<p class="p-second-herosdb">Contactez votre spécialiste en rénovation pour réaliser votre rêve. J'interviens à Bourg-en-Bresse (01) et les environs.</p>
				</div>
			</div>
			<div class="max-width"></div>
		</div>
	</section>
	<section class='content-sdb'>
	<div class="triangle-left triangle-left-fix"></div>
	<div class="triangle-right triangle-right-fix""></div>
		<div class="max-width">
			<div class="point">
				
				<figure>
					<img src="../img/salon1.jpg" alt="">
				</figure>
                <div>
					<h2>Optez pour la perfection dans votre projet de rénovation intérieure</h2>
					<p>
						Si vous aspirez à une rénovation intérieure à la fois performante et esthétique, explorez notre large gamme de modèles disponibles. La rénovation de votre espace vous offre l'occasion de façonner un environnement unique en harmonie avec votre style de vie. Veillez à choisir des meubles à la fois fonctionnels et esthétiques. N'hésitez pas à nous contacter pour bénéficier de nos précieux conseils et faciliter votre processus décisionnel.
					</p>
				</div>
			</div>
			<div class="point">
				<div>
					<h2>Expert à votre disposition !</h2>
					<p>Réalisez enfin votre rêve d'un intérieur spacieux, confortable et contemporain en faisant appel à notre entreprise spécialisée dans la rénovation intérieure. Forts de notre expertise, nous sommes des experts dans la fourniture d'équipements conformes aux normes, et nous mettons à votre disposition notre vaste expérience pour vous garantir des solutions clés en main. De plus, nous sommes parfaitement qualifiés pour gérer tous les aspects de votre projet de rénovation intérieure, y compris l'installation de systèmes de chauffage et d'isolation thermique, afin de vous assurer un environnement à la fois sécurisé et fonctionnel.
					</p>
				</div>
				<figure>
					<img src="../img/salon1.jpg" alt="">
				</figure>

			</div>
			<div class="point">

				<figure>
					<img src="../img/salon1.jpg" alt="">
				</figure>
				<div>
					<h2>Des matériaux haut de gamme pour sublimer votre projet de rénovation intérieure</h2>
					<p>Si vous êtes à la recherche de matériaux de rénovation répondant à vos critères d'excellence, il est primordial de privilégier des composants durables et respectueux de l'environnement. De plus, l'aménagement de votre espace intérieur doit être entièrement adapté à votre style de vie, car une configuration réfléchie garantira votre confort au quotidien. À cette fin, nous mettons à votre disposition une variété d'options pour votre projet de rénovation intérieure, que ce soit de style classique, contemporain, industriel ou moderne. Le choix méticuleux des composants de rénovation est tout aussi crucial, en veillant à ce qu'ils correspondent à vos motifs, formes et couleurs préférés. De plus, ils devraient être pourvus de propriétés isolantes pour améliorer les performances thermiques de votre résidence ou de vos locaux professionnels.
					</p>
				</div>
			</div>
		</div>
	</section>
	{% block js %}
		<script src="../js/burger.js"></script>
	{% endblock %}
{% endblock %}
