{% extends 'base.html.twig' %}
{% block body %}
	<section class="hero hero-prestation animated-section">
		<div class='backgroud-hero backgroud-hero-sdb'>
			<div class="triangle-right animation-right">
				<div class="texte-hero">
					<h1>DU B’AIN AU SALON</h1>
					<p>VOTRE PARTENAIR PENDANT LES TRAVAUX DE RENOVATION DE LA SALLE DE BAIN</p>
					<p class="p-second-herosdb">Contactez votre spécialiste en rénovation de salles de bains pour réaliser une salle de bains clé en main selon vos rêves. J'interviens à Bourg-en-Bresse (01) et les environs.</p>
				</div>
			</div>
			<div class="max-width"></div>
		</div>
	</section>
	<section class='content-sdb'>
	<div class="triangle-left triangle-left-fix"></div>
	<div class="triangle-right triangle-right-fix"></div>
		<div class="max-width">
			<div class="point point-fix">
				
				<figure>
					<img src="../img/renovation.png" alt="">
				</figure>
                <div>
					<h2>Faites le choix idéal pour votre salle de bains</h2>
					<p>
						Si vous aspirez à une salle de bains à la fois élégante et fonctionnelle, explorez notre vaste gamme de modèles disponibles. La rénovation de votre salle de bains offre l'occasion de créer une atmosphère unique tout en reflétant votre style de vie. En ce qui concerne les revêtements de sol pour vos sanitaires, vous pouvez opter pour du carrelage blanc, du parquet ou de la mosaïque. Nos produits sont à la fois résistants, esthétiques et simples à entretenir, et ils s'harmoniseront parfaitement avec votre salle d'eau. N'oubliez pas de choisir un mobilier pour salle de bains tendance et pratique. N'hésitez pas à nous contacter pour bénéficier de nos conseils et simplifier votre.
					</p>
				</div>
			</div>
			<div class="point point-fix">
				<div>
					<h2>Expert à votre disposition !</h2>
					<p>Si vous avez toujours souhaité une salle de bains spacieuse, confortable et contemporaine, il est temps de faire appel à notre entreprise. Nous vous offrons des équipements sanitaires conformes aux normes et bénéficions d'une vaste expérience dans la rénovation de salles de bains, offrant des solutions clé en main. Nous pouvons également prendre en charge les travaux électriques dans cette pièce, y compris l'installation de chaudières et de systèmes d'isolation thermique.
					</p>
				</div>
				<figure>
					<img src="../img/renovation.png" alt="">
				</figure>

			</div>
			<div class="point point-fix">

				<figure>
					<img src="../img/renovation.png" alt="">
				</figure>
				<div>
					<h2>Des matériaux de qualité supérieure à votre service</h2>
					<p>Si vous recherchez une rénovation de salle de bains qui répond à vos exigences en termes de qualité, il est essentiel de privilégier des matériaux recyclables et respectueux de l'environnement. De plus, l'aménagement de cet espace doit être entièrement adapté à votre style de vie, car un agencement bien pensé garantira votre confort au quotidien. À cette fin, nous vous offrons diverses options de rénovation : salle de bains classique, contemporaine, industrielle ou moderne. Il est tout aussi important de choisir soigneusement les matériaux, en veillant à ce qu'ils correspondent aux motifs, aux formes et aux couleurs de votre choix. De plus, ils devraient être dotés de propriétés isolantes pour améliorer les performances thermiques de votre résidence ou de vos locaux professionnels.
					</p>
				</div>
			</div>
		</div>
	</section>
	{% block js %}
		<script src="../js/burger.js"></script>
	{% endblock %}
{% endblock %}
