$Poppins-Light: "Poppins-Light", sans-serif;
$Poppins-SemiBold: "Poppins-SemiBold", sans-serif;
$Poppins-Medium: "Poppins-Medium", sans-serif;
$Poppins-Regular: "Poppins-Regular", sans-serif;
$Poppins-Bold: "Poppins-Bold", sans-serif;
$brown: #f2b054;
$brownBehind: #fcebd4;
$turquoise: #42a9eb;
$turquoiseBehind: #cfe9fa;
$turquoiseOpacyty: rgba(66, 169, 235, 0.9);
$blackOpacity: rgba(30, 30, 30, 0.7);
$white: #fff;
$grey: #3f3838;
$twidth: calc(100vw / 2);
$theight: calc($twidth / 2);
.demoB {
  width: 0;
  height: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: $Poppins-Regular;
  letter-spacing: 0.05em;
}
h2 {
  color: $grey;
  text-transform: uppercase;
  padding: 20px 0;
  font-family: $Poppins-SemiBold;
  font-size: 1em;
  @media screen and (min-width: 500px) {
    font-size: 1.4em;
  }
  @media screen and (min-width: 1000px) {
    font-size: 1.5em;
  }
  @media screen and (min-width: 1500px) {
    font-size: 2em;
  }
  @media screen and (min-width: 1700px) {
    font-size: 2.4em;
    width: 80%;
  }
}
p {
  color: $grey;
  font-family: $Poppins-Regular;
  font-size: 1em;
  @media screen and (min-width: 500px) {
    font-size: 1.2em;
  }
  @media screen and (min-width: 1000px) {
    font-size: 1.3em;
  }
  @media screen and (min-width: 1500px) {
    font-size: 1.4em;
  }
  @media screen and (min-width: 1700px) {
    font-size: 1.5em;
  }
}
img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 0.3rem rgb(138, 108, 114));
  border-radius: 10px;
  object-fit: cover;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-family: $Poppins-Medium;
  padding: 0 10px;
  height: 100%;
  display: block;
}
.logo {
  height: 60%;
  display: flex;
  figure {
    height: 100%;
  }
  .text-logo {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    p {
      font-family: $Poppins-Medium;
      color: $white;
      font-size: 0.8em;
    }
    .title-logo {
      font-family: "Abril-Fatface", sans-serif;
      color: $white;
      font-size: 1em;
      letter-spacing: 0;
    }
  }
}
button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 0.8em;
  font-family: $Poppins-SemiBold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }
  @media screen and (min-width: 600px) {
    font-size: 1em;
  }
  @media screen and (min-width: 1000px) {
    font-size: 1.2em;
  }
  @media screen and (min-width: 1500px) {
    font-size: 1.4em;
  }
}
h3 {
  color: $grey;
}
h1 {
  color: $brown;
  text-transform: uppercase;
  font-family: $Poppins-Bold;
  padding: 20px 0;
  font-size: 1.1em;
  line-height: 1.5em;
  width: 70%;

  @media screen and (min-width: 600px) {
    font-size: 1.3em;
  }
  @media screen and (min-width: 1000px) {
    font-size: 1.5em;
  }
  @media screen and (min-width: 1500px) {
    font-size: 2em;
  }
  @media screen and (min-width: 1700px) {
    font-size: 2.5em;
    width: 80%;
  }
}
.max-width {
  width: 85%;
  margin: 0 auto;
  height: 100%;
  max-width: 2000px;

  @media screen and (min-width: 1050px) {
    width: 75%;
  }
}
header {
  position: sticky;
  top: 0;
  z-index: 100;
  .content-header-top {
    height: 50px;
    background-color: $turquoiseOpacyty;
    .max-width {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        color: $white;
        text-decoration: none;
        font-family: $Poppins-Medium;
        width: 80px;
        height: 100%;
      }
      .lien-header {
        line-height: 50px;
      }
      p {
        display: none;
        color: $white;
        @media screen and (min-width: 1500px) {
          display: block;
        }
      }
      .lien-telephone {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;

        figure {
          height: 50%;
        }
        p {
          margin-left: 10px;
          display: block;
        }
      }
    }
  }
  .content-header-bottom {
    height: 70px;
    background-color: $blackOpacity;
    .max-width {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navigation {
        display: none;
      }
      .navigation-desktop {
        height: 100%;
        @media screen and (min-width: 700px) {
          display: block;
          ul {
            display: flex;
            height: 100%;
            li {
              list-style-type: none;

              a {
                font-size: 0.8em;
                line-height: 70px;

                @media screen and (min-width: 920px) {
                  font-size: 1.2em;
                }
              }
            }
          }
        }
      }
      .burger {
        width: 30px;
        height: 35%;
        display: block;
        @media screen and (min-width: 700px) {
          display: none;
        }
        .container-burger {
          position: relative;
          height: 100%;

          .burgerLigne {
            position: absolute;
            height: 12%;
            width: 100%;
            background-color: #fff;
          }
          .first-beurger-ligne {
            top: 0;
          }
          .second-burger-ligne {
            top: 45%;
          }
          .thirt-burger-ligne {
            top: 88%;
          }
        }
      }
    }
  }
}
.hero {
  height: calc(100vh - 120px);

  .backgroud-hero {
    background: url(../img/hero.png) center center / cover no-repeat;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;

    .demoB.right {
      position: absolute;
      top: 25%;
      left: 0;
      width: 0;
      height: 0;
      border-top: 60vh solid transparent;
      border-bottom: 60vh solid transparent;
      border-left: 90vw solid $blackOpacity;

      @media screen and (min-width: 600px) {
        border-left: 80vw solid $blackOpacity;
      }
      @media screen and (min-width: 1000px) {
        border-left: 70vw solid $blackOpacity;
      }
      @media screen and (min-width: 1500px) {
        border-left: 60vw solid $blackOpacity;
      }
    }

    .texte-hero {
      position: absolute;
      left: 8%;
      bottom: 5%;
      width: 55%;
      @media screen and (min-width: 600px) {
        width: 45%;
      }
      @media screen and (min-width: 1000px) {
        width: 35%;
      }
      @media screen and (min-width: 1500px) {
        width: 30%;
      }
      p {
        color: $white;
        font-family: $Poppins-Medium;
        font-size: 0.8em;
        padding-bottom: 20px;
        @media screen and (min-width: 600px) {
          font-size: 1em;
        }
        @media screen and (min-width: 1000px) {
          font-size: 1.1em;
        }
        @media screen and (min-width: 1500px) {
          font-size: 1.2em;
        }
      }
      .button-hero {
        .btn-contact {
          background-color: $brown;
          color: $grey;
        }
      }
    }
  }
}
.presentation {
  padding: 100px 0;
  position: relative;
  height: 800px;
  @media screen and (min-width: 1300px) {
    height: 600px;
  }
  .triangle-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: $brownBehind;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
  }
  .max-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      padding: 0px 10px;
      width: 90%;
      z-index: 50;
      @media screen and (min-width: 1300px) {
        width: 40%;
        padding: 50px;
      }
      @media screen and (min-width: 1666px) {
        padding: 50px 100px 50px 50px;
      }
    }
    figure {
      height: 400px;
      width: 95%;
      @media screen and (min-width: 1300px) {
        width: 48%;
      }
    }
  }
}
.section-slider {
  background: url(../img/renovation.png) center center / cover no-repeat;
  .efect-lenear {
    background: linear-gradient(
      106deg,
      rgba(0, 0, 0, 0.9) 9.53%,
      rgba(30, 30, 30, 0) 98.31%
    );

    h3 {
      margin: 0 20px;
      color: $white;
      padding: 50px 0;
      line-height: 2em;
      font-size: 1.2em;
      @media screen and (min-width: 500px) {
        margin: 0 10%;
        font-size: 1.5em;
      }
      @media screen and (min-width: 1000px) {
        margin: 0 15%;
        font-size: 1.8em;
      }
      @media screen and (min-width: 1500px) {
        font-size: 2em;
      }
      @media screen and (min-width: 1700px) {
        font-size: 2.4em;
        width: 80%;
      }
      span {
        color: $grey;
        background-color: $white;
        padding: 5px;
      }
    }
    .slider-btns {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 10px auto 0px;
      padding: 0 10px 100px;
      height: 40px;

      @media screen and (min-width: 700px) {
        padding: 0 10px 150px;
        margin: 30px auto 0px;
        height: 60px;
      }
      @media screen and (min-width: 1000px) {
        height: 80px;
      }
      button {
        height: 40px;
        margin: 0 10px;
        position: static !important;

        @media screen and (min-width: 700px) {
          height: 60px;
        }
        @media screen and (min-width: 1000px) {
          height: 80px;
        }
        figure {
          height: 100%;
          img {
            height: 100%;
          }
        }
      }
      .glider-next {
        figure {
          img {
            transform: rotate(-180deg);
          }
        }
      }
    }
    .contrent-slider {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 50px auto 20px;
      width: 95%;
    }
  }
}

footer {
  background-color: $grey;
  p {
    color: $white;
  }
  .max-width {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .conten-footer {
      width: 300px;
      display: flex;
      justify-content: center;
      padding: 50px 20px;
      p {
        font-size: 0.7em;
        @media screen and (min-width: 400px) {
          font-size: 1em;
        }
      }
      .logo {
        height: 70px;
        display: flex;
        align-items: center;
        @media screen and (min-width: 400px) {
          height: 100px;
        }
        .text-logo {
          margin-left: 20px;
          .title-logo {
            font-size: 1em;
            @media screen and (min-width: 400px) {
              font-size: 1.5em;
            }
          }
        }
      }
    }
    .phone-number {
      height: 30px;
      figure {
        height: 100%;
      }
      p {
        line-height: 30px;
        margin-left: 20px;
        font-size: 1.2em;
        @media screen and (min-width: 400px) {
          font-size: 1.5em;
        }
      }
    }
    .adresse {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
