$Poppins-Light: "Poppins-Light", sans-serif;
$Poppins-SemiBold: "Poppins-SemiBold", sans-serif;
$Poppins-Medium: "Poppins-Medium", sans-serif;
$Poppins-Regular: "Poppins-Regular", sans-serif;
$Poppins-Bold: "Poppins-Bold", sans-serif;
$brown: #f2b054;
$brownBehind: #fcebd4;
$turquoise: #42a9eb;
$turquoiseBehind: #cfe9fa;
$turquoiseOpacyty: rgba(66, 169, 235, 0.9);
$blackOpacity: rgba(30, 30, 30, 0.7);
$white: #fff;
$grey: #3f3838;
$twidth: calc(100vw / 2);
$theight: calc($twidth / 2);
.demoB {
  width: 0;
  height: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: $Poppins-Regular;
  letter-spacing: 0.05em;
}

h2 {
  color: $grey;
  text-transform: uppercase;
  padding: 20px 0;
  font-family: $Poppins-SemiBold;
  font-size: 1em;
  @media screen and (min-width: 500px) {
    font-size: 1.4em;
  }
  @media screen and (min-width: 1000px) {
    font-size: 1.5em;
  }
  @media screen and (min-width: 1500px) {
    font-size: 2em;
  }
  @media screen and (min-width: 1700px) {
    font-size: 2.4em;
    width: 80%;
  }
}
p {
  color: $grey;
  font-family: $Poppins-Regular;
  font-size: 1em;
  @media screen and (min-width: 500px) {
    font-size: 1.2em;
  }
  @media screen and (min-width: 1000px) {
    font-size: 1.3em;
  }
  @media screen and (min-width: 1500px) {
    font-size: 1.4em;
  }
  @media screen and (min-width: 1700px) {
    font-size: 1.5em;
  }
}
img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  filter: drop-shadow(5px 9px 30px rgba(0, 0, 0, 0.1));
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-family: $Poppins-Medium;
  padding: 0 10px;
  height: 100%;
  display: block;
}
.logo {
  height: 60%;
  display: flex;
  figure {
    height: 100%;
    img {
      filter: none;
    }
  }
  .text-logo {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    p {
      font-family: $Poppins-Medium;
      color: $white;
      font-size: 0.8em;
    }
    .title-logo {
      font-family: "Abril-Fatface", sans-serif;
      color: $white;
      font-size: 1em;
      letter-spacing: 0;
    }
  }
}
button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 0.8em;
  font-family: $Poppins-SemiBold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
  }
  @media screen and (min-width: 600px) {
    font-size: 1em;
  }
  @media screen and (min-width: 1000px) {
    font-size: 1.2em;
  }
  @media screen and (min-width: 1500px) {
    font-size: 1.4em;
  }
}
h3 {
  color: $grey;
}
h1 {
  color: $brown;
  text-transform: uppercase;
  font-family: $Poppins-Bold;
  padding: 20px 0;
  font-size: 1.1em;
  line-height: 1.5em;
  width: 70%;

  @media screen and (min-width: 600px) {
    font-size: 1.3em;
  }
  @media screen and (min-width: 1000px) {
    font-size: 1.5em;
  }
  @media screen and (min-width: 1500px) {
    font-size: 2em;
  }
  @media screen and (min-width: 1700px) {
    font-size: 2.5em;
    width: 80%;
  }
}
.triangle-right {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  height: 100%;
  width: 50%;
  background-color: $brownBehind;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
}
.triangle-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: $turquoiseBehind;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  transform: translateX(-100%);
}
.max-width {
  width: 85%;
  margin: 0 auto;
  height: 100%;
  max-width: 2000px;

  @media screen and (min-width: 1050px) {
    width: 75%;
  }
}
header {
  position: sticky;
  top: 0;
  z-index: 100;
  .content-header-top {
    height: 50px;
    background-color: $turquoiseOpacyty;
    .max-width {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        color: $white;
        text-decoration: none;
        font-family: $Poppins-Medium;
        width: 80px;
        height: 100%;
      }
      .lien-header {
        line-height: 50px;
      }
      p {
        display: none;
        color: $white;
        @media screen and (min-width: 1500px) {
          display: block;
        }
      }
      .lien-telephone {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;

        figure {
          height: 50%;
          width: 30%;
          img {
            filter: none;
          }
        }
        p {
          margin-left: 10px;
          display: block;
          width: 70%;
        }
      }
    }
  }
  .content-header-bottom {
    height: 70px;
    background-color: $blackOpacity;
    .max-width {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navigation {
        display: none;
      }
      #navigation-mobil {
        position: fixed;
        top: 120px;
        right: -5000px;
        height: calc(100vh - 120px);
        width: 100%;
        background: $blackOpacity;
        display: block;
        transition: 0.5s all;
        &.active {
          right: 0px;
          @media screen and (min-width: 700px) {
            display: none;
            right: -5000px;
          }
        }
        ul {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          li {
            list-style-type: none;
            height: 10%;
            width: 100%;
            a {
              padding: 0;
              text-align: center;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.3em;

              @media screen and (min-width: 500px) {
                font-size: 1.5em;
              }
            }
          }
        }
      }
      .navigation-desktop {
        height: 100%;
        @media screen and (min-width: 700px) {
          display: block;
          ul {
            display: flex;
            height: 100%;
            li {
              list-style-type: none;

              a {
                font-size: 0.8em;
                line-height: 70px;

                @media screen and (min-width: 920px) {
                  font-size: 1.2em;
                }
              }
            }
          }
        }
      }
      .burger {
        width: 30px;
        height: 35%;
        display: block;
        @media screen and (min-width: 700px) {
          display: none;
        }
        .container-burger {
          position: relative;
          height: 100%;

          .burgerLigne {
            position: absolute;
            height: 12%;
            width: 100%;
            background-color: #fff;
          }
          .first-beurger-ligne {
            top: 0;
            transition: transform 0.4s ease-in-out;
            &.active {
              transform: rotate(45deg);
              top: 60%;
            }
          }
          .second-burger-ligne {
            top: 45%;
            transition: transform 0.2s ease-in-out;
            &.active {
              transform: scaleY(0);
            }
          }
          .thirt-burger-ligne {
            top: 88%;
            transition: transform 0.4s ease-in-out;

            &.active {
              transform: rotate(-45deg);
              top: 60%;
            }
          }
        }
      }
    }
  }
}
.hero {
  height: calc(100vh - 120px);

  .backgroud-hero {
    background: url(../img/hero.png) center center / cover no-repeat;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;

    .demoB.right {
      position: absolute;
      top: 25%;
      width: 0;
      height: 0;
      border-top: 60vh solid transparent;
      border-bottom: 60vh solid transparent;
      border-left: 90vw solid $blackOpacity;
      animation: 1s ease 0s 1 normal forwards running slideIn;

      @media screen and (min-width: 600px) {
        border-left: 80vw solid $blackOpacity;
      }
      @media screen and (min-width: 1000px) {
        border-left: 70vw solid $blackOpacity;
      }
      @media screen and (min-width: 1500px) {
        border-left: 60vw solid $blackOpacity;
      }
    }

    .texte-hero {
      position: absolute;
      left: 8%;
      bottom: 5%;
      width: 55%;
      animation: 1s ease 0s 1 normal forwards running slideIn;

      @media screen and (min-width: 600px) {
        width: 45%;
      }
      @media screen and (min-width: 1000px) {
        width: 35%;
      }
      @media screen and (min-width: 1500px) {
        width: 30%;
      }
      p {
        color: $white;
        font-family: $Poppins-Medium;
        font-size: 0.8em;
        padding-bottom: 20px;
        @media screen and (min-width: 600px) {
          font-size: 1em;
        }
        @media screen and (min-width: 1000px) {
          font-size: 1.1em;
        }
        @media screen and (min-width: 1500px) {
          font-size: 1.2em;
        }
      }
      .button-hero {
        .btn-contact {
          background-color: $brown;
          color: $grey;
        }
      }
    }
  }
}
.presentation {
  padding: 100px 0;
  position: relative;
  height: 800px;
  overflow: hidden;
  @media screen and (min-width: 1300px) {
    height: 600px;
  }

  .max-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      padding: 0px 10px;
      width: 90%;
      z-index: 50;
      transform: translateX(-200%);
      @media screen and (min-width: 1300px) {
        width: 40%;
        padding: 50px;
      }
      @media screen and (min-width: 1666px) {
        padding: 50px 100px 50px 50px;
      }
    }
    figure {
      transform: translateX(300%);
      height: 400px;
      width: 95%;
      @media screen and (min-width: 1300px) {
        width: 48%;
      }
    }
  }
}
.section-slider {
  background: url(../img/renovation.png) center center / cover no-repeat;
  .efect-lenear {
    background: linear-gradient(
      106deg,
      rgba(0, 0, 0, 0.9) 9.53%,
      rgba(30, 30, 30, 0) 98.31%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    h3 {
      margin: 0 20px;
      color: $white;
      padding: 50px 0;
      line-height: 2em;
      font-size: 1.2em;
      @media screen and (min-width: 500px) {
        margin: 0 10%;
        font-size: 1.5em;
      }
      @media screen and (min-width: 1000px) {
        margin: 0 15%;
        font-size: 1.8em;
      }
      @media screen and (min-width: 1500px) {
        font-size: 2em;
      }
      @media screen and (min-width: 1700px) {
        font-size: 2.4em;
        width: 80%;
      }
      span {
        color: $grey;
        background-color: $white;
        padding: 5px;
      }
    }
    .product-box {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 400px !important;
      padding: 15px;
      border-radius: 10px;
      margin: 0 20px;
      .p-img-container {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        .p-img {
          height: 100%;
          width: 100%;
          display: flex;
          div {
            height: 100%;
            width: 100%;
            display: block;
            img {
              height: 100%;
            }
          }
        }
      }
    }
    .slider-btns {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 10px auto 0px;
      padding: 0 0 100px;
      height: 40px;

      @media screen and (min-width: 700px) {
        padding: 0 10px 150px;
        margin: 30px auto 0px;
        height: 60px;
      }
      @media screen and (min-width: 1000px) {
        height: 80px;
      }
      button {
        height: 40px;
        margin: 0 10px;
        position: static !important;
        cursor: pointer;

        @media screen and (min-width: 700px) {
          height: 60px;
        }
        @media screen and (min-width: 1000px) {
          height: 80px;
        }
        figure {
          height: 100%;
          img {
            height: 100%;
          }
        }
      }
      .glider-next {
        figure {
          img {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
}
.values {
  position: relative;
  .max-width {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      padding: 100px 0;
      text-align: center;
      z-index: 50;
      font-size: 1.5em;
      @media screen and (min-width: 500px) {
        font-size: 1.7em;
      }
      @media screen and (min-width: 1000px) {
        font-size: 1.9em;
      }
      @media screen and (min-width: 1500px) {
        font-size: 2.5em;
      }
      @media screen and (min-width: 1700px) {
        font-size: 3em;
        width: 80%;
      }
    }
    .containt-values {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      padding-bottom: 100px;
      .oneValue {
        height: 400px;
        width: 300px;
        background-color: $grey;
        z-index: 50;
        border-radius: 10px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        transition: all 1s ease-in-out;
        transform-style: preserve-3d;
        perspective: 1000px;
        &.active {
          transform: rotateY(-180deg);
      }

        @media screen and (min-width: 1500px) {
          height: 450px;
        }
        .oneValueSite {
          height: 100%;
          width: 100%;
          position: absolute;
          h3,
          p {
            color: $white;
            padding: 20px;
            text-align: center;
          }
          h3 {
            text-transform: uppercase;
            font-family: $Poppins-Bold;
            font-size: 1.8em;
          }

          figure {
            padding: 20px;
            img {
              filter: none;
            }
          }
        }
        .firstValueSite{
          transform: rotateY(180deg);
          
          
        }
        .secondValueSite{
          background-color: $white;
          backface-visibility: hidden;
        }
      }
    }
  }
}
.hero-prestation {
  padding-bottom: 50px;
  .backgroud-hero {
    .triangle-right {
      background-color: $blackOpacity;
      top: 35%;
      width: 90%;
      @media screen and (min-width: 700px) {
        width: 70%;
      }
      @media screen and (min-width: 1200px) {
        width: 60%;
      }
      .texte-hero {
        width: 85%;
        top: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h1 {
          text-align: end;
        }
        p {
          text-align: end;
          width: 80%;
        }
        .first-p-realisation {
          text-transform: uppercase;
        }
        .p-second-herosdb {
          display: none;
          font-size: 1em;
          font-family: $Poppins-Regular;

          @media screen and (min-width: 1000px) {
            display: block;
          }
          @media screen and (max-height: 800px) {
            display: none;
          }
        }
      }
    }
  }
  .backgroud-hero-sdb {
    background: url(../img/herosdb.png) center center / cover no-repeat;
  }
  .backgroud-hero-renovation {
    background: url(../img/salon.jpg) center center / cover no-repeat;
  }
}

.content-sdb {
  position: relative;
  overflow: hidden;

  .triangle-right {
    top: 39%;
    width: 80%;
    display: none;
    @media screen and (min-width: 1000px) {
      display: block;
    }
  }
  .triangle-left {
    width: 80%;
    display: none;
    @media screen and (min-width: 1000px) {
      display: block;
    }
  }
  .point {
    display: flex;
    padding: 100px 0;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    &:nth-child(even) {
      @media screen and (min-width: 1000px) {
        flex-direction: row-reverse;
      }
    }

    @media screen and (min-width: 1000px) {
      flex-direction: row;
    }
    figure {
      width: 100%;
      height: 400px;
      padding-bottom: 50px;

      @media screen and (min-width: 1000px) {
        width: 45%;
        padding-bottom: 0;
      }
    }
    div {
      width: 100%;
      z-index: 50;

      @media screen and (min-width: 1000px) {
        width: 40%;
      }
      p {
        font-size: 1em;

        @media screen and (min-width: 1200px) {
          font-size: 1.2em;
        }
      }
      h2 {
        padding: 50px 0;
      }
    }
  }
}
.decline {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    padding: 50px;
    background-color: $blackOpacity;
    color: $white;
    margin: 10px;
    text-align: center;
  }
}
.hero-contact {
  height: auto;
  transform: translateY(-120px);
  .backgroud-hero {
    height: auto;
    position: relative;
    .max-width {
      .formContact {
        background-color: $blackOpacity;
        width: 100%;
        height: 90%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 200px 0;

        @media screen and (max-width: 900px) {
          flex-direction: column;
        }

        .zonneForm {
          height: 100%;

          @media screen and (max-width: 900px) {
            height: 50%;
          }
        }

        .zonneForm1 {
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          @media screen and (max-width: 1300px) {
            width: 60%;
          }

          @media screen and (max-width: 900px) {
            margin-top: 30px;
            width: 100%;
            height: 90%;
          }

          @media screen and (max-width: 799px) {
            height: 80%;
          }

          @media screen and (max-width: 566px) {
            height: 85%;
          }

          .champ {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 90%;
            margin-top: 15px;

            .label {
              color: #ffffff;
              font-size: 1.5em;
              width: 100%;

              @media screen and (max-width: 1000px) {
                font-size: 1.2em;
              }

              @media screen and (max-width: 374px) {
                font-size: 1em;
              }
            }

            div {
              width: 100%;

              .info {
                width: 100%;
                font-size: 1.2em;
                color: $grey;
                border-radius: 5px;
                margin: 10px 0;

                @media screen and (max-width: 374px) {
                  font-size: 1em;
                }
              }
              #contact_Message {
                height: 300px;
              }
            }
          }
          .div-button {
            margin: 20px 0 50px;
          }

          .confidencionality {
            flex-direction: row;
            position: relative;

            .info {
              position: absolute;
              width: 7%;
              height: 20px;
              margin-right: 5px;
              top: 1%;

              @media screen and (max-width: 1368px) {
                top: 0;
              }

              @media screen and (max-width: 900px) {
                height: 15px;
                top: 2px;
              }
            }

            .label {
              font-size: 1.2em;
              text-indent: 7%;

              @media screen and (max-width: 1000px) {
                text-indent: 10%;
              }

              @media screen and (max-width: 900px) {
                font-size: 1rem;
              }

              a {
                text-decoration: underline;
                text-transform: lowercase;
                display: inline;
                padding: 0;
              }
            }
          }

          .submit {
            width: 200px;
            align-self: flex-start;
            border: none;
            background-color: #3b9be1;
            height: 50px;
            align-self: start;
            border-radius: 10px;
            color: #fff;
            font-size: 1.2em;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.5s ease-in;
            margin-bottom: 20px;

            @media screen and (max-width: 900px) {
              align-self: center;
            }

            &:hover {
              opacity: 0.8;
              transform: scale(1.1);
            }
          }

          .deuxinfo {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            @media screen and (max-width: 1000px) {
              flex-direction: column;
            }

            .champ {
              width: 40%;

              @media screen and (max-width: 1000px) {
                width: 90%;
              }
            }
          }
          .name {
            margin-top: 30px;
          }
        }

        .zonneForm2 {
          width: 30%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;

          @media screen and (max-width: 1300px) {
            width: 40%;
          }

          @media screen and (max-width: 900px) {
            width: 100%;
            height: 10%;
            margin-bottom: 30px;
          }

          @media screen and (max-width: 799px) {
            height: 20%;
          }

          @media screen and (max-width: 566px) {
            height: 15%;
          }

          .contactRight {
            height: 40%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20px;

            @media screen and (max-width: 1000px) {
              margin-left: 5px;
            }

            @media screen and (max-width: 900px) {
              height: 100%;
              margin-left: none;
              align-items: center;
              justify-content: center;
            }

            .contentContactRight {
              height: 33%;
              width: 90%;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-direction: column;
              margin: 20px 0;

              @media screen and (max-width: 900px) {
                height: 100%;
                justify-content: center;
              }

              @media screen and (max-width: 799px) {
                height: 50%;
              }

              @media screen and (max-width: 566px) {
                height: 33%;
              }

              figure {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0;

                img {
                  height: 60%;

                  @media screen and (max-width: 1000px) {
                    height: 50%;
                  }
                }
              }

              p {
                margin-left: 25px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
                color: #ffffff;

                @media screen and (min-width: 1700px) {
                  font-size: 1.3em;
                }
                @media screen and (min-width: 1500px) {
                  font-size: 1.2em;
                }
                @media screen and (min-width: 1000px) {
                  font-size: 1.1em;
                }
                @media screen and (min-width: 500px) {
                  font-size: 1em;
                }

                @media screen and (max-width: 1000px) {
                  margin-left: 10px;
                }
              }
            }

            .mesReseaux {
              justify-content: center;

              a {
                margin: 0 10px;
                height: 100%;
                display: flex;
                align-items: center;

                img {
                  height: 60%;

                  @media screen and (max-width: 1000px) {
                    height: 50%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.content-realisation {
  .point {
    -webkit-box-shadow: 5px 4px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 4px 8px 0px rgba(0, 0, 0, 0.3);
    height: auto;
    position: relative;
    z-index: 40;
    padding: 0;
    margin: 200px 0;
    border-radius: 10px;
    background-color: $white;
    border-radius: 10px;
    overflow: hidden;
    filter: none;
    @media screen and (min-width: 1000px) {
      height: 400px;
    }
    .glider-contain {
      width: 100%;
      height: 300px;
      @media screen and (min-width: 1000px) {
        width: 70%;
        height: 100%;
      }
      .glider {
        height: 100%;
        width: 100%;

        .glider-track {
          height: 100%;
          .product-box {
            width: 100%;
            height: 300px;
            padding: 0;
            margin: 0;
            position: relative;

            @media screen and (min-width: 1000px) {
              width: 70%;
              height: 100%;
            }
            .p-img-container {
              height: 100%;
              width: 100%;
              padding: 0;
              .p-img {
                height: 100%;
                width: 100%;
                padding: 0;
                figure {
                  height: 100%;
                  width: 100%;
                }
              }
            }

            img {
              border-radius: 0;
              filter: none;
            }
            .reverse-border {
              @media screen and (min-width: 1000px) {
                border-radius: 0 10px 10px 0;
              }
            }
          }
        }
      }
    }

    .description-site {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px 0;

      @media screen and (min-width: 1000px) {
        width: 30%;
      }
      h4,
      p {
        margin: 10px 20px;
      }
    }
    .slider-btns {
      position: absolute;
      top: 240px;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      flex-direction: row;

      @media screen and (min-width: 1000px) {
        width: 70%;
        bottom: 10px;
        top: auto;
      }

      button {
        height: 50px;
        position: relative;
        top: 0;
        left: 0;

        figure {
          height: 100%;
          width: 100%;
        }
        &:nth-child(2) {
          figure {
            img {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    .slider-btns-second {
      right: 0;
      left: auto;
    }
    &:nth-child(even) {
      .slider-btns {
        right: 0;
        left: auto;
      }
    }
  }
}

footer {
  background-color: $grey;
  p {
    color: $white;
  }
  h3 {
    color: white;
  }
  .max-width {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .conten-footer {
      width: 300px;
      display: flex;
      justify-content: center;
      padding: 50px 20px;
      p {
        font-size: 0.7em;
        @media screen and (min-width: 400px) {
          font-size: 1em;
        }
      }
      .logo {
        height: 70px;
        display: flex;
        align-items: center;
        @media screen and (min-width: 400px) {
          height: 100px;
        }
        .text-logo {
          margin-left: 20px;
          .title-logo {
            font-size: 1em;
            @media screen and (min-width: 400px) {
              font-size: 1.5em;
            }
          }
        }
      }
    }
    .phone-number {
      height: 30px;
      figure {
        img {
          filter: none;
        }
      }
      p {
        line-height: 30px;
        margin-left: 20px;
        font-size: 1.2em;
        @media screen and (min-width: 400px) {
          font-size: 1.5em;
        }
      }
    }
    .adresse {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideInRigth {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
