.demoB {
  width: 0;
  height: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins-Regular", sans-serif;
  letter-spacing: 0.05em;
}

.product-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  margin: 0 20px;
}
.product-box .p-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.product-box .p-img-container .p-img {
  height: 100%;
  width: 100%;
  display: flex;
}
.product-box .p-img-container .p-img a {
  height: 100%;
  width: 100%;
  display: block;
}
.product-box .p-img-container .p-img a img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

h2 {
  color: #3f3838;
  text-transform: uppercase;
  padding: 20px 0;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 1em;
}
@media screen and (min-width: 500px) {
  h2 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1000px) {
  h2 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1500px) {
  h2 {
    font-size: 2em;
  }
}
@media screen and (min-width: 1700px) {
  h2 {
    font-size: 2.4em;
    width: 80%;
  }
}

p {
  color: #3f3838;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1em;
}
@media screen and (min-width: 500px) {
  p {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1000px) {
  p {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1500px) {
  p {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 1700px) {
  p {
    font-size: 1.5em;
  }
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(5px 9px 30px rgba(0, 0, 0, 0.1));
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: "Poppins-Medium", sans-serif;
  padding: 0 10px;
  height: 100%;
  display: block;
}

.logo {
  height: 60%;
  display: flex;
}
.logo figure {
  height: 100%;
}
.logo figure img {
  filter: none;
}
.logo .text-logo {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.logo .text-logo p {
  font-family: "Poppins-Medium", sans-serif;
  color: #fff;
  font-size: 0.8em;
}
.logo .text-logo .title-logo {
  font-family: "Abril-Fatface", sans-serif;
  color: #fff;
  font-size: 1em;
  letter-spacing: 0;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 0.8em;
  font-family: "Poppins-SemiBold", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 600px) {
  button {
    font-size: 1em;
  }
}
@media screen and (min-width: 1000px) {
  button {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1500px) {
  button {
    font-size: 1.4em;
  }
}

h3 {
  color: #3f3838;
}

h1 {
  color: #f2b054;
  text-transform: uppercase;
  font-family: "Poppins-Bold", sans-serif;
  padding: 20px 0;
  font-size: 1.1em;
  line-height: 1.5em;
  width: 70%;
}
@media screen and (min-width: 600px) {
  h1 {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1500px) {
  h1 {
    font-size: 2em;
  }
}
@media screen and (min-width: 1700px) {
  h1 {
    font-size: 2.5em;
    width: 80%;
  }
}

.triangle-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: #fcebd4;
  -webkit-clip-path: polygon(0 50%, 100% 100%, 100% 0);
          clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.triangle-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #cfe9fa;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

.max-width {
  width: 85%;
  margin: 0 auto;
  height: 100%;
  max-width: 2000px;
}
@media screen and (min-width: 1050px) {
  .max-width {
    width: 75%;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}
header .content-header-top {
  height: 50px;
  background-color: rgba(66, 169, 235, 0.9);
}
header .content-header-top .max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .content-header-top .max-width a {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins-Medium", sans-serif;
  width: 80px;
  height: 100%;
}
header .content-header-top .max-width .lien-header {
  line-height: 50px;
}
header .content-header-top .max-width p {
  display: none;
  color: #fff;
}
@media screen and (min-width: 1500px) {
  header .content-header-top .max-width p {
    display: block;
  }
}
header .content-header-top .max-width .lien-telephone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
}
header .content-header-top .max-width .lien-telephone figure {
  height: 50%;
  width: 30%;
}
header .content-header-top .max-width .lien-telephone figure img {
  filter: none;
}
header .content-header-top .max-width .lien-telephone p {
  margin-left: 10px;
  display: block;
  width: 70%;
}
header .content-header-bottom {
  height: 70px;
  background-color: rgba(30, 30, 30, 0.7);
}
header .content-header-bottom .max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .content-header-bottom .max-width .navigation {
  display: none;
}
header .content-header-bottom .max-width .navigation-desktop {
  height: 100%;
}
@media screen and (min-width: 700px) {
  header .content-header-bottom .max-width .navigation-desktop {
    display: block;
  }
  header .content-header-bottom .max-width .navigation-desktop ul {
    display: flex;
    height: 100%;
  }
  header .content-header-bottom .max-width .navigation-desktop ul li {
    list-style-type: none;
  }
  header .content-header-bottom .max-width .navigation-desktop ul li a {
    font-size: 0.8em;
    line-height: 70px;
  }
}
@media screen and (min-width: 700px) and (min-width: 920px) {
  header .content-header-bottom .max-width .navigation-desktop ul li a {
    font-size: 1.2em;
  }
}
header .content-header-bottom .max-width .burger {
  width: 30px;
  height: 35%;
  display: block;
}
@media screen and (min-width: 700px) {
  header .content-header-bottom .max-width .burger {
    display: none;
  }
}
header .content-header-bottom .max-width .burger .container-burger {
  position: relative;
  height: 100%;
}
header .content-header-bottom .max-width .burger .container-burger .burgerLigne {
  position: absolute;
  height: 12%;
  width: 100%;
  background-color: #fff;
}
header .content-header-bottom .max-width .burger .container-burger .first-beurger-ligne {
  top: 0;
}
header .content-header-bottom .max-width .burger .container-burger .second-burger-ligne {
  top: 45%;
}
header .content-header-bottom .max-width .burger .container-burger .thirt-burger-ligne {
  top: 88%;
}

.hero {
  height: calc(100vh - 120px);
}
.hero .backgroud-hero {
  background: url(../img/hero.png) center center/cover no-repeat;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.hero .backgroud-hero .demoB.right {
  position: absolute;
  top: 25%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 60vh solid transparent;
  border-bottom: 60vh solid transparent;
  border-left: 90vw solid rgba(30, 30, 30, 0.7);
}
@media screen and (min-width: 600px) {
  .hero .backgroud-hero .demoB.right {
    border-left: 80vw solid rgba(30, 30, 30, 0.7);
  }
}
@media screen and (min-width: 1000px) {
  .hero .backgroud-hero .demoB.right {
    border-left: 70vw solid rgba(30, 30, 30, 0.7);
  }
}
@media screen and (min-width: 1500px) {
  .hero .backgroud-hero .demoB.right {
    border-left: 60vw solid rgba(30, 30, 30, 0.7);
  }
}
.hero .backgroud-hero .texte-hero {
  position: absolute;
  left: 8%;
  bottom: 5%;
  width: 55%;
}
@media screen and (min-width: 600px) {
  .hero .backgroud-hero .texte-hero {
    width: 45%;
  }
}
@media screen and (min-width: 1000px) {
  .hero .backgroud-hero .texte-hero {
    width: 35%;
  }
}
@media screen and (min-width: 1500px) {
  .hero .backgroud-hero .texte-hero {
    width: 30%;
  }
}
.hero .backgroud-hero .texte-hero p {
  color: #fff;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 0.8em;
  padding-bottom: 20px;
}
@media screen and (min-width: 600px) {
  .hero .backgroud-hero .texte-hero p {
    font-size: 1em;
  }
}
@media screen and (min-width: 1000px) {
  .hero .backgroud-hero .texte-hero p {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 1500px) {
  .hero .backgroud-hero .texte-hero p {
    font-size: 1.2em;
  }
}
.hero .backgroud-hero .texte-hero .button-hero .btn-contact {
  background-color: #f2b054;
  color: #3f3838;
}

.presentation {
  padding: 100px 0;
  position: relative;
  height: 800px;
}
@media screen and (min-width: 1300px) {
  .presentation {
    height: 600px;
  }
}
.presentation .max-width {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.presentation .max-width div {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  width: 90%;
  z-index: 50;
}
@media screen and (min-width: 1300px) {
  .presentation .max-width div {
    width: 40%;
    padding: 50px;
  }
}
@media screen and (min-width: 1666px) {
  .presentation .max-width div {
    padding: 50px 100px 50px 50px;
  }
}
.presentation .max-width figure {
  height: 400px;
  width: 95%;
}
@media screen and (min-width: 1300px) {
  .presentation .max-width figure {
    width: 48%;
  }
}

.section-slider {
  background: url(../img/renovation.png) center center/cover no-repeat;
}
.section-slider .efect-lenear {
  background: linear-gradient(106deg, rgba(0, 0, 0, 0.9) 9.53%, rgba(30, 30, 30, 0) 98.31%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.section-slider .efect-lenear h3 {
  margin: 0 20px;
  color: #fff;
  padding: 50px 0;
  line-height: 2em;
  font-size: 1.2em;
}
@media screen and (min-width: 500px) {
  .section-slider .efect-lenear h3 {
    margin: 0 10%;
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1000px) {
  .section-slider .efect-lenear h3 {
    margin: 0 15%;
    font-size: 1.8em;
  }
}
@media screen and (min-width: 1500px) {
  .section-slider .efect-lenear h3 {
    font-size: 2em;
  }
}
@media screen and (min-width: 1700px) {
  .section-slider .efect-lenear h3 {
    font-size: 2.4em;
    width: 80%;
  }
}
.section-slider .efect-lenear h3 span {
  color: #3f3838;
  background-color: #fff;
  padding: 5px;
}
.section-slider .efect-lenear .slider-btns {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px auto 0px;
  padding: 0 0 100px;
  height: 40px;
}
@media screen and (min-width: 700px) {
  .section-slider .efect-lenear .slider-btns {
    padding: 0 10px 150px;
    margin: 30px auto 0px;
    height: 60px;
  }
}
@media screen and (min-width: 1000px) {
  .section-slider .efect-lenear .slider-btns {
    height: 80px;
  }
}
.section-slider .efect-lenear .slider-btns button {
  height: 40px;
  margin: 0 10px;
  position: static !important;
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  .section-slider .efect-lenear .slider-btns button {
    height: 60px;
  }
}
@media screen and (min-width: 1000px) {
  .section-slider .efect-lenear .slider-btns button {
    height: 80px;
  }
}
.section-slider .efect-lenear .slider-btns button figure {
  height: 100%;
}
.section-slider .efect-lenear .slider-btns button figure img {
  height: 100%;
}
.section-slider .efect-lenear .slider-btns .glider-next figure img {
  transform: rotate(-180deg);
}

.values {
  position: relative;
}
.values .max-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.values .max-width h2 {
  padding: 100px 0;
  text-align: center;
  z-index: 50;
  font-size: 1.5em;
}
@media screen and (min-width: 500px) {
  .values .max-width h2 {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 1000px) {
  .values .max-width h2 {
    font-size: 1.9em;
  }
}
@media screen and (min-width: 1500px) {
  .values .max-width h2 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 1700px) {
  .values .max-width h2 {
    font-size: 3em;
    width: 80%;
  }
}
.values .max-width .containt-values {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 100px;
}
.values .max-width .containt-values .oneValue {
  height: 400px;
  width: 300px;
  background-color: #3f3838;
  z-index: 50;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 1500px) {
  .values .max-width .containt-values .oneValue {
    height: 450px;
  }
}
.values .max-width .containt-values .oneValue h3,
.values .max-width .containt-values .oneValue p {
  color: #fff;
  padding: 20px;
  text-align: center;
}
.values .max-width .containt-values .oneValue h3 {
  text-transform: uppercase;
  font-family: "Poppins-Bold", sans-serif;
  font-size: 1.8em;
}
.values .max-width .containt-values .oneValue figure {
  padding: 20px;
}
.values .max-width .containt-values .oneValue figure img {
  filter: none;
}

.herosdb {
  padding-bottom: 50px;
}
.herosdb .backgroud-hero {
  background: url(../img/herosdb.png) center center/cover no-repeat;
}
.herosdb .backgroud-hero .triangle-right {
  background-color: rgba(30, 30, 30, 0.7);
  top: 35%;
  width: 90%;
}
@media screen and (min-width: 700px) {
  .herosdb .backgroud-hero .triangle-right {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .herosdb .backgroud-hero .triangle-right {
    width: 60%;
  }
}
.herosdb .backgroud-hero .triangle-right .texte-hero {
  width: 85%;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.herosdb .backgroud-hero .triangle-right .texte-hero h1 {
  text-align: end;
}
.herosdb .backgroud-hero .triangle-right .texte-hero p {
  text-align: end;
  width: 80%;
}
.herosdb .backgroud-hero .triangle-right .texte-hero .p-second-herosdb {
  display: none;
  font-size: 1em;
  font-family: "Poppins-Regular", sans-serif;
}
@media screen and (min-width: 1000px) {
  .herosdb .backgroud-hero .triangle-right .texte-hero .p-second-herosdb {
    display: block;
  }
}
@media screen and (max-height: 800px) {
  .herosdb .backgroud-hero .triangle-right .texte-hero .p-second-herosdb {
    display: none;
  }
}

.content-sdb {
  position: relative;
  overflow: hidden;
}
.content-sdb .triangle-right {
  top: 39%;
  width: 80%;
  display: none;
}
@media screen and (min-width: 1000px) {
  .content-sdb .triangle-right {
    display: block;
  }
}
.content-sdb .triangle-left {
  width: 80%;
  display: none;
}
@media screen and (min-width: 1000px) {
  .content-sdb .triangle-left {
    display: block;
  }
}
.content-sdb .point {
  display: flex;
  padding: 100px 0;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.content-sdb .point:nth-child(2) {
  flex-direction: column-reverse;
}
@media screen and (min-width: 1000px) {
  .content-sdb .point:nth-child(2) {
    flex-direction: row;
  }
}
@media screen and (min-width: 1000px) {
  .content-sdb .point {
    flex-direction: row;
  }
}
.content-sdb .point figure {
  width: 100%;
  height: 400px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1000px) {
  .content-sdb .point figure {
    width: 45%;
    padding-bottom: 0;
  }
}
.content-sdb .point div {
  width: 100%;
  z-index: 50;
}
@media screen and (min-width: 1000px) {
  .content-sdb .point div {
    width: 40%;
  }
}
.content-sdb .point div p {
  font-size: 1em;
}
@media screen and (min-width: 1200px) {
  .content-sdb .point div p {
    font-size: 1.2em;
  }
}
.content-sdb .point div h2 {
  padding: 50px 0;
}

footer {
  background-color: #3f3838;
}
footer p {
  color: #fff;
}
footer .max-width {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
footer .max-width .conten-footer {
  width: 300px;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}
footer .max-width .conten-footer p {
  font-size: 0.7em;
}
@media screen and (min-width: 400px) {
  footer .max-width .conten-footer p {
    font-size: 1em;
  }
}
footer .max-width .conten-footer .logo {
  height: 70px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 400px) {
  footer .max-width .conten-footer .logo {
    height: 100px;
  }
}
footer .max-width .conten-footer .logo .text-logo {
  margin-left: 20px;
}
footer .max-width .conten-footer .logo .text-logo .title-logo {
  font-size: 1em;
}
@media screen and (min-width: 400px) {
  footer .max-width .conten-footer .logo .text-logo .title-logo {
    font-size: 1.5em;
  }
}
footer .max-width .phone-number {
  height: 30px;
}
footer .max-width .phone-number figure img {
  filter: none;
}
footer .max-width .phone-number p {
  line-height: 30px;
  margin-left: 20px;
  font-size: 1.2em;
}
@media screen and (min-width: 400px) {
  footer .max-width .phone-number p {
    font-size: 1.5em;
  }
}
footer .max-width .adresse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */