@font-face {
    font-family: "Poppins-SemiBold";
    src:url(./Popins/Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
    font-family: "Poppins-Light";
    src:url(./Popins/Poppins-Light.ttf) format("truetype");
}
@font-face {
    font-family: "Poppins-Medium";
    src:url(./Popins/Poppins-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Abril-Fatface";
    src:url(./AbrilFatface/AbrilFatface-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Poppins-Regular";
    src:url(./Popins/Poppins-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Poppins-Bold";
    src:url(./Popins/Poppins-Bold.ttf) format("truetype");
}