<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Fiez-vous à un artisan expérimenté en rénovation de votre bien du salle de bain jusq’au salon. Découvrez nos services de rénovation intérieure et profitez de solutions novatrices pour tous vos travaux. Contactez-nous dès maintenant pour concrétiser votre projet.">
		<meta name="robots" content="index, follow">
		<meta name="author" content="Jirka Fischer">
		<title>
			{% block title %}Du Bain au salon - Rénovation intérieure à Bourg-en-Bresse
			{% endblock %}
		</title>
		<link rel="icon" href="../img/imgLogo.svg">
		<link rel="stylesheet" href="../style/style.css">
		<link rel="stylesheet" href="../style/glider.css">
		<link rel="stylesheet" href="../fonts/fonts.css">
	</head>
	<body>
		{%  include './parts/header.html.twig' %}
		<main>
			{% block body %}{% endblock %}
		</main>
		{%  include './parts/footer.html.twig' %}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</body>
</html>
