<footer>
	<div class="max-width">
		<div class="conten-footer">
			<div class="logo">
				<figure>
					<img src="../img/imgLogo.svg" alt="logo">
				</figure>
				<div class='text-logo'>
					<p class='title-logo'>Du b'Ain au Salon</p>
					<p>Création et Rénovation</p>
				</div>
			</div>
		</div>
		<div class="conten-footer phone-number">
			<figure>
				<img src="./img/Phone.svg" alt="">
			</figure>
			<p>0636477377</p>
		</div>
		<div class="conten-footer adresse">
			<div>
				<h3>Du b'Ain au Salon</h3>
				<p>5 allée de la Biscuiterie
					<br>
					01250 CEYZERIAT</p>
			</div>

		</div>
	</div>
</footer>
