<header>
	<div class="content-header content-header-top">
		<div class="max-width">
			<p>Création et Rénovation de salle de bain, revêtement de surface</p>
			<a class='lien-telephone' href="tel:0636477377">
				<figure>
					<img src="./img/Phone.svg" alt="">
				</figure>
				<p>0636477377</p>
			</a>

			<a href="#" class="lien-header">Contact</a>


		</div>
	</div>
	<div class="content-header content-header-bottom">
		<div class="max-width">
			<div class="logo">
				<figure>
					<img src="../img/imgLogo.svg" alt="logo">
				</figure>
				<div class='text-logo'>
					<p class='title-logo'>Du b'Ain au Salon</p>
					<p>Création et Rénovation</p>
				</div>
			</div>
			<nav class="navigation-desktop navigation">
				<ul>
					<li><a href="" class="lien-header">Accuiel</a></li>
					<li><a href="" class="lien-header">salle de bain</a></li>
					<li><a href="" class="lien-header">electricité</a></li>
					<li><a href="" class="lien-header">rélisations</a></li>
				</ul>
			</nav>
			<nav class="navigation-mobil navigation">
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</nav>
			<span class='burger item-menu-mobil'>
				<div class='container-burger'>
					<div class="burgerLigne first-beurger-ligne"></div>
					<div class="burgerLigne second-burger-ligne"></div>
					<div class="burgerLigne thirt-burger-ligne"></div>
				</div>
			</span>
		</div>

	</div>


</header>
